<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.story.culture">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/drawable_guitar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Main1Activity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".basecomon.BaseActivity" />
        <activity android:name=".activity.WriteInfoActivity" />
        <activity android:name=".activity.PersonCenterActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.WriteCourseInfoActivity" />
        <activity android:name=".activity.UseClassTimeActivity" />
        <activity android:name=".activity.CourseDetailActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignaturActivity" />
        <activity android:name=".activity.SearchNeedsToBuyActivity"></activity>
        <activity android:name=".activity.SearchImportantAttentionActivity"></activity>
        <activity android:name=".activity.CourseUsedDetailActivity"></activity>
    </application>

</manifest>